* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #95f2d9;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 550px;
  min-height: 600px;
  background: #41463d;
  text-align: center;
  margin: 130px auto;
  border-radius: 10px;
  padding-bottom: 20px;
}

h1 {
  margin: 30px 0;
  color: white;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 30px;
}

.todo-input {
  padding: 15px 30px 15px 15px;
  border-radius: 5px 0 0 5px;
  border: 2px solid #9d8df1;
  outline: none;
  width: 330px;
  background: transparent;
  color: white;
}

.todo-input::placeholder {
  color: #dedede;
}

.todo-button {
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  background-color: #9d8df1;
  color: white;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #b8cdf8;
}

.todo-button.edit {
  background-color: #b8cdf8;
  padding: 15px 20px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #41463d;
  background-color: #1cfeba;
  padding: 15px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #41463d;
}

.edit-icon {
  color: #41463d;
}
